.featured-collection {
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
  padding-top: get-global-spacing('md', 'sm');
  padding-bottom: get-global-spacing('md', 'sm');
}

.featured-collection-item {
  flex: 1 1 percentage(1 / 3);
  height: 100%;
  text-align: center;
}

.featured-collection__image {
  min-width: 320px;
}

.featured-collection__title {
  flex-basis: 100%;
}
