// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);


//**
//* Global
//************************************
$color-palette: (
    'red': #d02035,
    'yellow': #f6a623,
    'green': #1b843d,
    'blue': #003fa2,
    'white': #f5f5f5,
    'grey-100': #d8d8d8,
    'grey-300': #adadad,
    'grey-500': #767676,
    'black': #111111
);

$color-contexts: (
    'primary': 'red',
    'secondary': 'grey-500',
    'success': 'green',
    'warning': 'yellow',
    'error': 'red'
);

$global-weight-bold: get-font-weight('bold');
$global-timing-function: 'ease-out';

$z-index: (
    assistive-background-image: -1,
    banner: 0,
    checker-row: 1,
    main-sub-menu: 50,
    back-to-top: 97,
    header: 98,
    offcanvas-overlay: 99,
    mobile-offcanvas: 100,
    skip-link: 999,
);

$universal-spacing: (
    'xxs': (
        'sm': rem-calc(15),
        'md': rem-calc(15)
    ),
    'xs': (
        'sm': rem-calc(30),
        'md': rem-calc(30)
    ),
    'sm': (
        'sm': rem-calc(30),
        'md': rem-calc(50)
    ),
    'md': (
        'sm': rem-calc(30),
        'md': rem-calc(75)
    ),
    'lg': (
        'sm': rem-calc(60),
        'md': rem-calc(120)
    ),
    'xl': (
        'sm': rem-calc(60),
        'md': rem-calc(180)
    )
);

$breakpoints: (
    small: 0,
    medium: 600px,
    large: 900px,
    xlarge: 1200px,
    xxlarge: 1600px
);

//**
//* Typography
//************************************

$font-stacks: (
    'Raleway': (Raleway, sans-serif),
    'sans-serif': (Raleway, sans-serif),
    'serif': (Raleway, serif),
    'monospace': (monospace)
);

$font-weights: (
    'normal': normal,
    'bold': bold,
);

// $body-font-color: get-color('grey-400');
$body-font-stack: 'Raleway';
$body-font-weight: normal;

$font-sizes: (
    'normal': (
        'small': 1rem
    ),
    'h1': (
        'small': rem-calc(35),
        'xlarge': rem-calc(38),
    ),
    'h2': (
        'small': rem-calc(30),
        'xlarge': rem-calc(32),
    ),
    'h3': (
        'small': rem-calc(25),
    ),
    'h4': (
        'small': rem-calc(22),
    ),
    'h5': (
        'small': rem-calc(13),
        'xlarge': rem-calc(14),
    ),
    'h6': (
        'small': rem-calc(13),
    ),
    'p': (
        'small': rem-calc(16),
    ),
    'li': (
        'small': rem-calc(16),
    ),
    'cite': (
        'small': rem-calc(13),
    ),
    'small-element': (
        'small': rem-calc(11),
    ),
    'form-help': (
        'small': rem-calc(14),
    ),
    'form-error': (
        'small': rem-calc(12),
    ),
    'input': (
        'small': rem-calc(18),
    ),
    'sneaky-label': (
        'small': rem-calc(10),
    ),
    'tooltip': (
        'small': 80%
    ),
    'anchor': (
        'small': rem-calc(16)
    )
);

$typography-margins: (
    'p': $global-margin,
    'h1': (
        'small': rem-calc(15),
    ),
    'h2': (
        'small': rem-calc(15),
    ),
    'h3': (
        'small': rem-calc(15),
    ),
    'h4': (
        'small': rem-calc(15),
    ),
    'h5': (
        'small': rem-calc(15),
    ),
    'h6': (
        'small': rem-calc(15),
    ),
    'ul': $global-margin,
    'ul-li': get-ratio($global-margin, 0.5),
    'ol': $global-margin,
    'ol-li': get-ratio($global-margin, 0.5),
    'dl': $global-margin,
    'dt': (
        'small': 0.3rem,
    ),
    'dd': (
        'small': 0.3rem,
    ),
    'blockquote': $global-margin,
);

$line-heights: (
    'normal': (
        'small': 1.625
    ),
    'h1': (
        'small': 1.5,
        'medium': 1.5
    ),
    'h2': (
        'small': 1,
        'medium': 1.5
    ),
    'h3': (
        'small': 1,
        'medium': 1.5
    ),
    'h4': (
        'small': 1,
        'medium': 1.5
    ),
    'h5': (
        'small': 1,
        'medium': 1.5
    ),
    'h6': (
        'small': 1,
        'medium': 1.5
    ),
    'input': (
        'small': 1.5
    ),
    'textarea': (
        'small': 1.5,
    ),
    'anchor': 1.625
);

$heading-font-stack: 'Raleway';
$heading-font-weight: 'bold';
$heading-color: get-color('black');

// $anchor-color: get-color('primary-dark');
$anchor-color-hover-scale: null;
// $anchor-color-hover: get-color('accent');
$anchor-text-decoration: underline;
$anchor-text-transform: none;
$anchor-font-weight: bold;
$anchor-font-size: 'anchor';
$anchor-line-height: 'anchor';

//$blockquote-color: get-color('grey-500');
$blockquote-border-width: 0;
$blockquote-padding: 0;

// $cite-color: get-color('grey-400');
$cite-pseudo-content: '\2014 \0020';

$hr-max-width: 100%;
$hr-border-width: 1px;
$hr-border-style: solid;
// $hr-border-color: 'grey-200';
$hr-margin: (
    'small': rem-calc(50),
    'medium': rem-calc(60),
    'xxlarge': rem-calc(65),
);

//**
//*  Forms
//************************************
$form-margin: (
    'small': rem-calc(20)
);
//** Help Text
$error-text-color: get-color-by-context('error');
//** Input
$form-legend-weight: $global-weight-bold;
$input-border-color: get-color('grey-100');
$input-border-radius: 0;
$input-background-color: get-color('white');
$input-background-disabled: get-color('grey-300');
$select-triangle-color: get-color('black');
$select-triangle-size: rem-calc(10);
//** Select
$triangle-shapes: (
    'triangle': '<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: ___COLOR___"></polygon></svg>',
    'chevron': '<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 407.437 407.437" version="1.1" viewBox="0 0 407.437 407.437" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><polygon points="386.26 91.567 203.72 273.51 21.179 91.567 0 112.82 203.72 315.87 407.44 112.82"/></svg>'
);
$select-triangle-shape: 'chevron';
//** Sneaky Label
$sneaky-label-color: get-color('grey-300');
//** Widget
$form-checkbox-content-unchecked: '\e907';
$form-checkbox-content-checked: '\e906';
$form-radio-content-unchecked: '\e929';
$form-radio-content-checked: '\e92a';
//**
//*  Back to Top
//************************************
$back-to-top-button-small-length: rem-calc(30);
$back-to-top-button-large-length: rem-calc(44);
$back-to-top-button-screen-position: rem-calc(20);
//**
//*  Banner
//************************************
$banner-padding-ratio: 2;
$hero-banner-height: (
    'small': rem-calc(100),
    'medium': rem-calc(200)
);
//**
//*  Buttons
//************************************
$button-border-color: get-color('black');
//**
//*  Header
//************************************
$header-height: (
    'small': rem-calc(80),
);
//**
//*  Footer
//************************************
$footer-borders-color: get-color('grey-300');
$copyright-link-color: get-color('white');
//**
//*  Socials
//************************************
$social-media-map: (
    'facebook',
    'twitter',
    'googleplus',
    'youtube',
    'instagram',
    'linkedin',
    'pinterest',
    'vimeo',
);
//**
//*  WordPress Core
//************************************
$wordpress-alignright-margin: rem-calc(5 0 20 20);
$wordpress-alignleft-margin: rem-calc(5 20 20 0);
$wordpress-alignnone-margin: rem-calc(5 20 20 0);
$wordpress-aligncenter-margin: rem-calc(5) auto rem-calc(20) auto;
$wordpress-caption-background-color: get-color('grey-100');
$wordpress-caption-text-small-padding: rem-calc(15 20);
$wordpress-caption-text-large-padding: rem-calc(20 25);
$wordpress-caption-text-font-size: rem-calc(14);
$wordpress-caption-text-line-height: 1.4;
$wordpress-caption-text-color: get-color('black');
$wordpress-caption-text-style: italic;

