.template-password {
    display: grid;
    align-items: center;
}

.password-login {
    border: 1px solid get-color('grey-100');
    padding: 50px;
    box-shadow: rem-calc(10 10 15) 0 rgba(get-color('black'), 0.50);

    .form-submit {
        margin-top: rem-calc(5);
    }
}

.storefront-password-form {
    padding: rem-calc(20) 0;
}